*       {
			margin: 0; 
			padding: 0;
			box-sizing: border-box;
			
			}
			
		body {
			background-color: #B8860B;
           }

			
		#wrapper {
					max-width: 1000px;
                    height: 100%;
					margin: 0 auto;
					background-color: white;
					max-height: 100%;
            }
  
		header img {
						width:100%;
						display: block;  
			}
			
		.home.main p {
				text-align:justify;
				line-height: 25px;
				font-size: 18px;
				padding:15px 0;
		}
			nav {
				overflow: hidden;
			}	
  
		
		nav a {
		
			    display: block;
				width: 25%;
				float: left;
				color:white;
				text-decoration: none;
				text-align: center;
				background-color : springgreen;
				padding:15px 30px ;
				transition:all 1s ease;
				font-family: 'Raleway', sans-serif;
				
			}
  
		nav a:hover {
	 
							background-color: firebrick;
							cursor:pointer;
			}
			
			
		 h1 {
			font-size:40px;
			text-align:center;
			width: auto;
			margin: 0 10%;
			padding-bottom: 15px;
			margin-bottom: 20px;
			border-bottom: 2px solid firebrick;
			font-family: 'Bebas Neue', cursive;
			}
			
			section  p {
		    font-size: 20px;
			margin: 10px 15px;
			width: auto;
			font-family: roboto, sans-serif;
            			
		}
			
		@media (max-width:800px){
				nav a {
				width:50%;
				font-size: 22px;
				}
				h1{
					font-size: 26px;
				}
			}
		@media (max-width:500px){
				nav a {
				width:100%;
				}
			}
			
		iframe {
				width:100%;
				margin: 20px 0;
			}
	
	    footer{
			height:40px;
			background-color: springgreen;
			color:white;
			line-height: 40px;
			text-align: center;
			margin-top: 0px;
			font-family: 'Bebas Neue', cursive;
			}
	
		
